.btn {
  display: inline-flex;
  padding: 14px 20px;
  vertical-align: middle;
  justify-content: center;
  font-family: $ff-montserrat;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;
  user-select: none;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
